[Unit]
Description=DNS/Elasticsearch barrier
After=named.service dnsmasq.service network-online.target
Before=elasticsearch.service

[Install]
WantedBy=multi-user.target
