[Unit]
Description=Network-online / mariadb barrier
After=sssd.service network-online.target
Before=mariadb.service

[Install]
WantedBy=multi-user.target
