#  This file is part of th-tools
[Unit]
Description=TH DNS/SSSD barrier
After=named.service dnsmasq.service
Before=sssd.service

[Install]
WantedBy=multi-user.target
